@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
     margin:0%;
     padding: 0%;
     box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
}
header{
    height: 100vh;
    background:url(images/cloud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style-type: none;
    margin: 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 15px 10px;
}